/* Use border-box and reset margin and padding */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* || Header styling */

header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 16px 64px;
  gap: 32px;
}

